<!doctype html>
<html>
<head lang="pt-BR">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title> WESLEY RODRIGUES - simples | descomplicado </title> 
  <meta name="description" content="Site pessoal de Wesley Rodrigues, profissional de TI que atua como DevOps na Concrete Solitions e estuda Inteligência Artificial">      
  <meta name="keywords" content="Linux, Bash, Shell Script, Inteligência Artificial, DevOps, Cloud Computing">
</head>
<body>
  <%= yield %>
</body>
</html>
